<div class="season-container">
    <div class="heading">SEASONS</div>
    <div class="seasons-content" >
        <div class="season-div" *ngFor="let season of seasons">
            <div class="season-value"><p>{{season}}</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',season]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <!-- <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div>
        <div class="season-div">
            <div class="season-value"><p>2022</p></div>
            <div class="leagues-link" ><a [routerLink]="['/leagues',2022]" routerLinkActive="active" ariaCurrentWhenActive="page">Get Leagues</a></div>    
        </div> -->
    </div>
</div>
