.league-container{
    height: 100%;
    width: 100%;
    background-color: black;
    background-image: linear-gradient(
        to bottom,
        rgba(8, 8, 8, 0.7),
        rgba(0, 0, 54, 0.7)
      ),url(./images/football-stadium.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
.league-heading{
    height: 10%;
    /* color: #00AB66; */
    color: #fffafa;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.league-content{
    display: flex;
    padding: 2%;
    height: 90%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.league-type{
    height: 200px;
    width: 220px;
    margin: 12px;
    border-radius: 15px;
    padding: 2%;
    color: white;
    background-color: rgba(34, 33, 33, 0.6);
    -webkit-transition: height 0.5s, width 0.5s;
}
.league-type:hover{
    background-color: rgba(26, 25, 25, 0.8);
    height: 205px;
    width: 225px;
}
.league-name, .league-country, .teams-link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.league-name{
    height: 40%;
    font-size: 1.5rem;
    color: #D648D7;
}
.league-country{
    height: 30%;
    color: #DD85D8;
}
.teams-link{
    height: 30%;
}
.teams-link a{
    text-decoration: none;
    color: #8a2be2;
    -webkit-transition: color 0.5s
}
.teams-link a:hover{
    color: #551a8b;
}