
<div class="league-container">
    <div class="league-heading"><p>LEAGUES FOR SEASON : {{year}}</p></div>
    <!-- <div class="league-content">
        <div class="league-type" *ngFor="let league of leagues">
            <div class="league-name">{{league.name}}</div>
            <div class="league-country">{{league.country}}</div>
            <div class="teams-link">
                <a [routerLink]="['/teams',league.leagueId, league.name, year]" routerLinkActive="active" ariaCurrentWhenActive="page">
                    See all teams in this league
                </a>
            </div>
        </div>
    </div> -->
    
    <div class="league-content">
        <div class="league-type">
            <div class="league-name"><p>League Name</p></div>
            <div class="league-country"><p>League Country</p></div>
            <div class="teams-link">
                <a [routerLink]="['/teams',21, 'Manchester', 2022]" routerLinkActive="active" ariaCurrentWhenActive="page">
                    See all teams in this league
                </a>
            </div>
        </div>
        <div class="league-type">
            <div class="league-name">League Name</div>
            <div class="league-country">League Country</div>
            <div class="teams-link">
                <a [routerLink]="['/teams',21, 'Manchester', 2022]" routerLinkActive="active" ariaCurrentWhenActive="page">
                    See all teams in this league
                </a>
            </div>
        </div>
        <div class="league-type">
            <div class="league-name">League Name</div>
            <div class="league-country">League Country</div>
            <div class="teams-link">
                <a [routerLink]="['/teams',21, 'Manchester', 2022]" routerLinkActive="active" ariaCurrentWhenActive="page">
                    See all teams in this league
                </a>
            </div>
        </div>
        <div class="league-type">
            <div class="league-name">League Name</div>
            <div class="league-country">League Country</div>
            <div class="teams-link">
                <a [routerLink]="['/teams',21, 'Manchester', 2022]" routerLinkActive="active" ariaCurrentWhenActive="page">
                    See all teams in this league
                </a>
            </div>
        </div>
        <div class="league-type">
            <div class="league-name">League Name</div>
            <div class="league-country">League Country</div>
            <div class="teams-link">
                <a [routerLink]="['/teams',21, 'Manchester', 2022]" routerLinkActive="active" ariaCurrentWhenActive="page">
                    See all teams in this league
                </a>
            </div>
        </div>
        <div class="league-type">
            <div class="league-name">League Name</div>
            <div class="league-country">League Country</div>
            <div class="teams-link">
                <a [routerLink]="['/teams',21, 'Manchester', 2022]" routerLinkActive="active" ariaCurrentWhenActive="page">
                    See all teams in this league
                </a>
            </div>
        </div>
        <div class="league-type">
            <div class="league-name">League Name</div>
            <div class="league-country">League Country</div>
            <div class="teams-link">
                <a [routerLink]="['/teams',21, 'Manchester', 2022]" routerLinkActive="active" ariaCurrentWhenActive="page">
                    See all teams in this league
                </a>
            </div>
        </div>
        <div class="league-type">
            <div class="league-name">League Name</div>
            <div class="league-country">League Country</div>
            <div class="teams-link">
                <a [routerLink]="['/teams',21, 'Manchester', 2022]" routerLinkActive="active" ariaCurrentWhenActive="page">
                    See all teams in this league
                </a>
            </div>
        </div>
    </div>
</div>