<div class="teams-container">
    <!-- <div class="teams-heading">TEAMS For League: {{leagueName}}</div>
    <div class="teams-content" *ngFor="let team of teams">
        <div class="team-name"><p>{{team.name}}</p></div>
        <div class="team-country"><p>{{team.country}}</p></div>
        <div class="team-founded"><p>{{team.founded}}</p></div>
        <div class="players-link"><a [routerLink]="['/players', team.team_id, season]">Get Players for this team</a></div>
    </div> -->

    <div class="teams-heading"><p>TEAMS For League: TEAM NAME</p></div>
    <div class="teams-selection">
        <div class="teams-content">
            <div class="team-name"><p>NAME</p></div>
            <div class="team-country"><p>Country</p></div>
            <div class="team-founded"><p>2022</p></div>
            <div class="players-link"><a href="">Get Players for this team</a></div>
        </div>
        <div class="teams-content">
            <div class="team-name"><p>NAME</p></div>
            <div class="team-country"><p>Country</p></div>
            <div class="team-founded"><p>2022</p></div>
            <div class="players-link"><a href="">Get Players for this team</a></div>
        </div>
        <div class="teams-content">
            <div class="team-name"><p>NAME</p></div>
            <div class="team-country"><p>Country</p></div>
            <div class="team-founded"><p>2022</p></div>
            <div class="players-link"><a href="">Get Players for this team</a></div>
        </div>
        <div class="teams-content">
            <div class="team-name"><p>NAME</p></div>
            <div class="team-country"><p>Country</p></div>
            <div class="team-founded"><p>2022</p></div>
            <div class="players-link"><a href="">Get Players for this team</a></div>
        </div>
        <div class="teams-content">
            <div class="team-name"><p>NAME</p></div>
            <div class="team-country"><p>Country</p></div>
            <div class="team-founded"><p>2022</p></div>
            <div class="players-link"><a href="">Get Players for this team</a></div>
        </div>
        <div class="teams-content">
            <div class="team-name"><p>NAME</p></div>
            <div class="team-country"><p>Country</p></div>
            <div class="team-founded"><p>2022</p></div>
            <div class="players-link"><a href="">Get Players for this team</a></div>
        </div>
        <div class="teams-content">
            <div class="team-name"><p>NAME</p></div>
            <div class="team-country"><p>Country</p></div>
            <div class="team-founded"><p>2022</p></div>
            <div class="players-link"><a href="">Get Players for this team</a></div>
        </div>
        <div class="teams-content">
            <div class="team-name"><p>NAME</p></div>
            <div class="team-country"><p>Country</p></div>
            <div class="team-founded"><p>2022</p></div>
            <div class="players-link"><a href="">Get Players for this team</a></div>
        </div>
        <div class="teams-content">
            <div class="team-name"><p>NAME</p></div>
            <div class="team-country"><p>Country</p></div>
            <div class="team-founded"><p>2022</p></div>
            <div class="players-link"><a href="">Get Players for this team</a></div>
        </div>
        <div class="teams-content">
            <div class="team-name"><p>NAME</p></div>
            <div class="team-country"><p>Country</p></div>
            <div class="team-founded"><p>2022</p></div>
            <div class="players-link"><a href="">Get Players for this team</a></div>
        </div>
        <div class="teams-content">
            <div class="team-name"><p>NAME</p></div>
            <div class="team-country"><p>Country</p></div>
            <div class="team-founded"><p>2022</p></div>
            <div class="players-link"><a href="">Get Players for this team</a></div>
        </div>
        <div class="teams-content">
            <div class="team-name"><p>NAME</p></div>
            <div class="team-country"><p>Country</p></div>
            <div class="team-founded"><p>2022</p></div>
            <div class="players-link"><a href="">Get Players for this team</a></div>
        </div>
        
    </div>
</div>